#  LISTS

In [1]:
# How to create an empty list

x=list()
print(x)
print(type(x))

[]
<class 'list'>

In [37]:
x=5
print(type(x))

<class 'int'>

In [38]:
x=[]
print(type(x))

<class 'list'>

In [28]:
# to see attributes and functions of lists

dir(x)

In [39]:
#adding elements in a list using append()

x.append(5)
x

[5]

In [40]:
x.append(6)
x

[5, 6]

In [41]:
x.append('a')
x.append('hello')
x.append(7.8)
x

[5, 6, 'a', 'hello', 7.8]

In [42]:
# insert an element at a certain position

x.insert(2,'good')
x

[5, 6, 'good', 'a', 'hello', 7.8]

In [43]:
x.insert(15,'night')
x

#it has started acting like append() now

[5, 6, 'good', 'a', 'hello', 7.8, 'night']

In [44]:
l=[1,2,3.5,4.7,'a','b',True,False,[6,7,8]]
print(l)
print(type(l))

[1, 2, 3.5, 4.7, 'a', 'b', True, False, [6, 7, 8]]
<class 'list'>

In [49]:
# indexing

a = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
a

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [50]:
a[:]

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [51]:
a[2:]

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [52]:
a[:6]

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon']

In [53]:
a[2:5]

['cherry', 'orange', 'kiwi']

In [54]:
#negative indexing 
a[-1]

'mango'

In [55]:
a[-2]

'melon'

In [56]:
a[ : :2]  #step size

['apple', 'cherry', 'kiwi', 'mango']

In [57]:
a[2:6:2]

['cherry', 'kiwi']

In [58]:
a[-5:-1]

['cherry', 'orange', 'kiwi', 'melon']

In [59]:
a[: : -1]

['mango', 'melon', 'kiwi', 'orange', 'cherry', 'banana', 'apple']

In [60]:
s=[4,5,6,7,'w','t',6.7,9.8,[6,7,8],6.5]
s

[4, 5, 6, 7, 'w', 't', 6.7, 9.8, [6, 7, 8], 6.5]

In [61]:
len(s)

10

In [62]:
s[8]

[6, 7, 8]

In [63]:
s[8][0]

6

In [64]:
s[8][2]

8

In [65]:
a=[3,6,7,2,3,56,6,89]
a

[3, 6, 7, 2, 3, 56, 6, 89]

In [66]:
max(a)

89

In [67]:
min(a)

2

In [69]:
sum(a)

172

In [72]:

a.sort()
a

[2, 3, 3, 6, 6, 7, 56, 89]

In [73]:
a.sort(reverse=True)
a

[89, 56, 7, 6, 6, 3, 3, 2]

In [5]:
#make a program to take students name nd mrks in 2 seperate list and no of enteries user wants to make

n=int(input("enter no of enteries"))
name=[]
marks=[]
for i in range(n):
    x=input("enter name of student ")
    name.append(x)
    y=float(input("enter marks of student "))
    marks.append(y)
    
    
print(name)
print(marks)

enter no of enteries2
enter name of student anu
enter marks of student 99
enter name of student nyssa
enter marks of student 98
['anu', 'nyssa']
[99.0, 98.0]

In [6]:
max(marks)

99.0

In [7]:
# ZIP FUNCTION

name_marks=zip(name,marks)
n_m=list(name_marks)
print(n_m)

[('anu', 99.0), ('nyssa', 98.0)]

In [9]:
for n,m in zip(name,marks):
    print("name of student : {}       marks of student : {}".format(n,m))

name of student : anu       marks of student : 99.0
name of student : nyssa       marks of student : 98.0

In [10]:
#zip uneven elements 
l1=[1,2,3,4,5,6,7]
l2=['a','b','c']
l=zip(l1,l2)

In [12]:
l=list(l)
print(l)

#other elements truncated

[(1, 'a'), (2, 'b'), (3, 'c')]

In [23]:
# Enter elements in two list, join them and finally sort the final list
n=int(input("enter no of elemets in first list"))
l1=[]
l2=[]
for i in range(n):
    x=int(input("enter number"))
    l1.append(x)
print("List 1 is : ", l1)

y=int(input("enter no of elemets in second list"))
    
for i in range(y):
    u=int(input("enter number"))
    l2.append(u)
print("List 2 is : ", l2)

l=l1+l2
    
l.sort()
print("Sorted list is", l)

enter no of elemets in first list2
enter number66
enter number77
List 1 is :  [66, 77]
enter no of elemets in second list3
enter number1
enter number4
enter number7
List 2 is :  [1, 4, 7]
Sorted list is [1, 4, 7, 66, 77]