# Python Basics

In [ ]:
#key board shortcuts
ctrl+enter - to run program
ctrl + b  - to insert a row below an existing row
ctrl+ a   -to insert a row above
shift + tab - to see meaning of inbuit function

In [12]:
#variables
x=2
y=23
print(x) 
print(y)

x='5'
print(x) 

print("x =", x)
print(type(x))

x='a'
print(x)

x="5"
print(x)  #string



print("x =", x)
print(type(x))

2
23
5
x = 5
<class 'str'>
a
5
x = 5
<class 'str'>

In [15]:
#addition 
a='5' 
b='9'
c=a+b
print(c)

a=5
b=9
c=a+b
print(c)

59
14

# typecasting

In [13]:
a=5.6
print(a)
print(type(a))

#convert to integer
b=int(a)
print(b)
print(type(b)) #the part after decimal is truncated

5.6
<class 'float'>
5
<class 'int'>

# input function

In [17]:
a=input("enter first num")
b=input("enter second number")
c=a+b
print(c)

enter first num7
enter second number6
76

In [18]:
#make a calculator

a=float(input("enter first number"))
b=float(input("enter second number"))
c=a+b
d=a-b
e=a*b
f=a/b
print("add= ",c)
print("sub = ",d)
print("mul =",e)
print("div= ",f)

enter first number8
enter second number2
add=  10.0
sub =  6.0
mul = 16.0
div=  4.0

# operators

In [19]:
# arithmetic operators   + , - , * , / , ** , // ,%
a=2
b=3

c=a**b
print(c)

a=9
b=2
c=a/b
print(c)


c=a//b
print(c)

8
4.5
4

In [21]:
# assignment operators = , += , -= , *= , /=
a=6
b=7
a+=1
print(a)

a=7
a*=2
print(a)

7
14

In [22]:
#comparison operators == , != ,> , < , >= , <=

a=6
b=7
print(a==b)
print(a!=b)

False
True

In [2]:
#logical operators  and , or , not
a=5
b=8

print(a > 6 and b<9)
print( a> 2 or b<4)

x=4
print(not(x>3))

x=2
print(not(x>3 and x < 10))

False
True
False
True

In [14]:
#display float number using 2 decimal places using print

print("%.2f" % 458.44859 )

458.45

# format()

In [10]:
#this method formats the specified values and inserts them inside string's placeholder.

a="my name is {name} , I'm {age} ".format(name="anu",age=20)
b="my name is {0},I'm {1}".format("anu",21)
c="my name is {} , i'm {}".format("anu",22) 
print(a)
print(b)
print(c)

my name is anu , I'm 20
my name is anu,I'm 21
my name is anu , i'm 22

In [11]:
n=input("enter your name")
s=input("enter your surname")
sub1=float(input("{}{} enter the marks of subject 1 ".format(n,s) ))

enter your nameanu
enter your surnamesihra
anusihra enter the marks of subject 1 677

In [28]:
#wap to take name of  a student and enter marks of 5 subjects ,print all marks and print average of marks

n=input("enter first name")
s=input("enter last name")
#sub1 , sub2 , sub3 , sub4 , sub5=input("enter marks of 5 subjects").split()
#print(sub1,sub2,sub3,sub4,sub5)

sub1 , sub2 , sub3 , sub4 , sub5=input("enter marks of 5 subjects").split(sep=",")

print(sub1,sub2,sub3,sub4,sub5)

avg=(int(sub1)+int(sub2)+int(sub3)+int(sub4)+int(sub5))/5
print("average of marks = ",avg)

enter first nameanu
enter last namesihra
enter marks of 5 subjects2,34,67,89,33
2 34 67 89 33
average of marks =  45.0

# loops

In [30]:
sum=0
i=1
while(i<=10):
    sum+=i
    i+=1
print(sum)

55

In [31]:

for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [32]:
for i in range(2,9):
    print(i)

2
3
4
5
6
7
8

In [33]:
for i in range(2,18,3):
    print(i)

2
5
8
11
14
17

In [7]:
#odd numbers between 5 and 30
for i in range(5,30,2):
    print(i)

5
7
9
11
13
15
17
19
21
23
25
27
29

In [8]:
#odd numbers between 4 and 30
for i in range(4,30,2):
    print(i+1)

5
7
9
11
13
15
17
19
21
23
25
27
29

In [3]:
#display all even no's between lower lim and upper ,take this range from user
l=int(input("enter lower limit"))
u=int(input("enter upper limit"))
u=u+1
for i in range(l,u,2):
    print(i)

enter lower limit5
enter upper limit14
5
7
9
11
13

In [35]:
i="flower"
for x in i:
    print(x)

f
l
o
w
e
r

In [37]:
#continue

i="flower"
for x in i:
    if x=='o' :
        continue
    else:
        print(x)

f
l
w
e
r

In [38]:
#break

i="flower"
for x in i :
    if x=='o':
        break;
    else:
        print(x)

f
l

In [39]:
#come out of loop as soon as 8 occurs

for i in range(3,13):
    if i==8:
        break;
    else:
        print(i)

3
4
5
6
7

In [40]:
#skip printing 6 while running the code

for i in range(3,13):
    if i==6 :
        continue
    else:
        print(i)

3
4
5
7
8
9
10
11
12

In [42]:
#### skip printing 4 and 8 while running the code

for x in range(3,15):
    if(x==4 or x==8):
        continue
    else:
        print(x)

3
5
6
7
9
10
11
12
13
14

#print pattern


for i in range(1,5):
    for j in range(i):
        print(i ,end=" ")
    print()

print() 
for i in range(1,5):
    for j in range(i):
        print(j ,end=" ")
    print()
    
for i in range(1,6):
    for j in range(1,i):
        print(j ,end=" ")
    print()
    
for i in range(65,71):
    for j in range(65,i):
        print(chr(j) ,end=" ")
    print()

# IF ELSE

In [4]:
a=7
if a>5 :
    print("{} is greater".format(a))
print("this is outside if condition")

7 is greater
this is outside if condition

In [6]:
a=5
if(a>5):
    print("a is greater than 5")
elif a==5 :
    print("a is equal to 5")
else:
    print("a is smaller than 5")
if(a=='i'):
    print("i")
else:
    print(" i dont know")

a is equal to 5
 i dont know

In [7]:
#take 2 float values from user and print largest

x=float(input("enter first value"))
y=float(input("enter second value"))
if(x>y):
    print(" {} is greater than {} ".format(x,y))
else:
    print("{} is greater than {} ".format(y,x))

enter first value4.5
enter second value3.5
 4.5 is greater than 3.5

In [8]:
#make a program to compare 3 values entered by user

x=float(input("enter 1st num"))
y=float(input("enter second num"))
z=float(input("enter 3rd num"))

if( x>y and x>z):
    print("x is largest")
elif (y>x and y>z):
    print("y is largest")
else:
    print(" z is largest")

enter 1st num34.5
enter second num12
enter 3rd num4.5
x is largest

In [9]:
#check even odd

n =int(input("enter num"))
if n%2==0:
    print("even num")
else:
    print("odd num")

enter num45
odd num

In [11]:
#check all the numbers in a given range whether they are even or odd

l=int(input("enter lower limit"))
u=int(input("enter upper limit"))
for i in range(l,u+1):
    if(i%2==0):
        print("{} is even".format(i))
    else:
        print("{} is odd".format(i))

enter lower limit3
enter upper limit8
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even

In [13]:
# enter 2 values form user and check that whether their difference is positive or negative

x=int(input("enter 1st num "))
y=int(input("enter 2nd num "))
z=x-y
if z>0:
    print("difference is positive")
else:
    print("difference is negative")

enter 1st num 4
enter 2nd num 7
difference is negative

In [15]:
#check whether entered value is digit or character

n=input("enter value ")
if n.isdigit():
    print("it is digit")
else:
    print("it is character")

enter valuer
it is character

In [16]:
n=input("enter value")
if n.isalpha():
    print("it is charcter")
else:
    print("it is digit")

enter valuer
it is charcter

In [ ]:
#grading system , take number of students from user , enter marks of 5 subjects,find sum,find avg,provide grades
90>= A
80-89 =B
70-79 = C
<70 = D
 #use split method also

In [ ]:
n=int(input("enter no of enteries you want to make"))
for i in range(n):
    n,m1,m2,m3,m4,m5=input("enter name of student and then marks of 5 subjects , all seperated by a comma").split(sep=",")
    m1=float(m1)
    m2=float(m2)
    m3=float(m3)
    m4=float(m4)
    m5=float(m5)
    if( m1 > 100 or m2> 100 or m3 > 100 or m4 > 100 or m5>100):
        print("enter marks again")
        continue
    print()
    print(" name and marks of  student {} are : {} {} {} {} {} ".format(i+1,n,m1,m2,m3,m4,m5))
    summ=m1+m2+m3+m4+m5
    avg=summ/5
    print(" total sum and average of {} are : {} {}  ".format(n,summ,avg))
    per=(summ/500)*100
    print("percentage = ",per)
    if per>=90:
        print("grade A")
    elif per>=80 and per<=89:
        print("grade B")
    elif per>=70 and per<=79:
        print("grade C")
    else:
        print("grade D")

enter no of enteries you want to make2
enter name of student and then marks of 5 subjects , all seperated by a commaanu,23,56,78,54,33

 name and marks of  student 1 are : anu 23.0 56.0 78.0 54.0
 total sum and average of anu are : 244.0 48.8
percentage =  48.8
grade D